body {
    align-items: center;
    display: flex;
    flex-flow: column;
}

#gridSize {
    margin: 10px auto;
}

#container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid black;
}

.square {
    box-sizing: border-box;
    border: 1px solid black;
}

.fillPixel {
    background-color: black;
}

#popUp {
    display: none;
}